<!DOCTYPE html>
<html>

  <head>
    <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link data-require="fontawesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
    <link rel="stylesheets" href="style.css" />
    <script src="script.js"></script>

<style >
.rating {
	cursor: pointer;
}

.rating .rating-star {
	display: inline-block;
	position: relative;
	padding-right: 5px;
	margin-left: -5px;
	color: #e3cf7a;
}
.rating .selected:before {
	content: '\f005';
}


</style>
  </head>
  <body>
    <h1>Rate whatever you want</h1>
    <form  action="/reading/new/<%=id%>/" method="post">



      <input type="hidden" name="rating" id="rating-input" min="0" max="5" />


    <div class="rating" role="optgroup">

      <i class="fa fa-star-o fa-2x rating-star" id="rating-1" data-rating="1" tabindex="0" aria-label="Rate as one out of 5 stars" role="radio"></i>
      <i class="fa fa-star-o fa-2x rating-star" id="rating-2" data-rating="2" tabindex="0" aria-label="Rate as two out of 5 stars" role="radio"></i>
      <i class="fa fa-star-o fa-2x rating-star" id="rating-3" data-rating="3" tabindex="0" aria-label="Rate as three out of 5 stars" role="radio"></i>
      <i class="fa fa-star-o fa-2x rating-star" id="rating-4" data-rating="4" tabindex="0" aria-label="Rate as four out of 5 stars" role="radio"></i>
      <i class="fa fa-star-o fa-2x rating-star" id="rating-5" data-rating="5" tabindex="0" aria-label="Rate as five out of 5 stars" role="radio"></i>
    </div>

			<button type="submit" name="submit" onclick="fo()">Submit</button>
		</form>
		<script>
		$(document).ready(function () {

		  function setRating(rating) {
		    $('#rating-input').val(rating);

		    $('.rating-star').removeClass('fa-star-o').addClass('selected');

		    $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('selected').addClass('fa-star-o');
		  }

		  $('.rating-star')
		  .on('mouseover', function(e) {
		    var rating = $(e.target).data('rating');

		    $('.rating-star').removeClass('fa-star-o').addClass('fa-star');

		    $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('fa-star').addClass('fa-star-o');
		  })
		  .on('mouseleave', function (e) {

		    $('.rating-star').removeClass('fa-star').addClass('fa-star-o');
		  })
		  .on('click', function(e) {
		    var rating = $(e.target).data('rating');
		    setRating(rating);
		  })
		  .on('keyup', function(e){

		    if (e.keyCode === 32) {

		      var rating = $(e.target).data('rating');
		      setRating(rating);
		    }
		  });
		});


		</script>
  </body>

</html>
